#active-game {
  text-align: center;
  margin: 2rem 0 5rem 0;
  display: block;
}

.game-over {
  width: 90%;
  max-width: 40rem;
  margin: auto;
  padding: 1rem 2rem;
  background-color: rgb(0, 42, 24);
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: block;
}

.game-over h2 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

#active-player-name {
 font-weight: bold;
}

#game-board {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  grid-gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
  padding: 0;
}

#game-board li {
  background-color: rgb(184 235 210);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

#game-board li:hover {
  background-color: rgb(9, 196, 87);
}


#game-board li.disable {
  background-color: rgb(9, 196, 87);
  color: white;
  cursor: default;
}

/* configuration */
#config-overlay {
  text-align: center;
}

#config-overlay h2 {
  margin: 0.5rem 0;
}

.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.form-control input {
  font: inherit;
  border: 1px solid rgb(204, 204, 204);
  width: 15rem;
  padding: 0.35rem;
}

.error label {
  color: orange;
}

.error input {
  background-color: orange;
}

#game-configuration {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  text-align: center;
}

#game-configuration ol {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

#game-configuration li {
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgb(0, 0, 0, 0.2);
  background-color: rgb(157 253 196);
  width: 50%;
}

#game-configuration h2 {
 font-size: 1rem;
 margin: 0.5rem 0;
}

#game-configuration h3 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: rgb(9, 196, 87);
}

.player-symbol {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: rgb(7, 66, 44);
  font-weight: bold;
}

.alert {
  position: fixed;
  width: 35rem;
  height: 10rem;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.2);
}

.alert h3 {
  color: orange;
}

/* overlay */
.modal {
  position: fixed;
  top: 20%;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.2);
  /* display: none; */
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  /* display: none; */
}

@media (min-width: 48rem) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

nav {
  margin: 0;
  padding: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

nav ul a {
  width: 50%;
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(157 253 196);
  color: rgb(9, 196, 87);
  cursor: pointer;
  text-decoration: none;
}

.active {
  background-color: #24402f;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#history {
  width: 100%;
}

table {
  margin: 0 auto;
  padding-top: 2rem;
  border-collapse: separate;
  border-spacing: 0.75rem;
}

table th,
table td {
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

table th:nth-child(1) {
  background-color: cornflowerblue;
  border-radius: 0.5rem;
}

table th:nth-child(2) {
  border-radius: 0.5rem;
  background-color: lightcoral;
}

table .td-left {
  border-bottom: 1pt solid cornflowerblue;
}

table .td-right {
  border-bottom: 1pt solid lightcoral;
}