#root {
  width: 100vw;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  color: rgb(17, 31, 23);
  background-color: rgb(230, 252, 239);
}

#main-header {
  color: white;
  text-align: center;
  padding: 2rem 5%;
  background-color: rgb(9, 196, 87);
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  margin: 0.2rem;
  background: rgb(9, 196, 87);
  border: 1px solid rgb(9, 196, 87);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btn-alt {
  color: rgb(9, 196, 87);;
  background: transparent;
  border-color: transparent;
}

.btn:hover {
  background: rgb(53, 134, 85);
  border-color: rgb(9, 196, 87);;
}

.btn-alt:hover {
 background: rgb(183 225 200);
 border-color: transparent;
}